/*Base colours ----------------------------------------------- */
/*Susy setup ----------------------------------------------- */
/*Content ----------------------------------------------- */
/*header ----------------------------------------------- */
/*Navigation ----------------------------------------------- */
/*footer ----------------------------------------------- */
/*footer ----------------------------------------------- */
body {
  font-family: source-sans-pro, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666666;
  background-color: white;
  line-height: 150%;
  padding: 30px 3% 5% 3%; }

header, section {
  margin: 0 0 20px 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: league-gothic, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #666666;
  font-size: 1.5rem; }

a {
  text-decoration: none;
  color: #2176c7; }
  a:hover {
    color: #124270;
    text-decoration: underline; }

header {
  text-align: center; }
  header h1 {
    font-size: 6em;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2176c7;
    margin: 0; }
    header h1 a {
      text-decoration: none; }
      header h1 a:hover {
        color: #666666;
        text-decoration: none; }
  header a {
    margin: 5px 10px 0;
    color: #666666;
    text-align: center; }
    header a:hover {
      color: #666666; }

section, article {
  max-width: 800px;
  margin: 0 auto; }
  section h1, section h2, article h1, article h2 {
    font-family: league-gothic, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 0.03em;
    margin: 0;
    color: #333333; }
  section h2, article h2 {
    line-height: 1em; }
  section h3, article h3 {
    font-family: source-sans-pro, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3em;
    margin-top: 0;
    color: #333333; }
  section p strong, article p strong {
    font-weight: 700; }
  section p em, article p em {
    font-style: italic; }
  section p, section iframe, section pre, article p, article iframe, article pre {
    max-width: 100%; }
  section img, article img {
    max-width: 100%; }
  section p, section iframe, article p, article iframe {
    margin-bottom: 20px; }
  section iframe, article iframe {
    margin-top: 5px; }
  section ol, section ul, article ol, article ul {
    list-style: none; }
    section ol li a:hover, section ul li a:hover, article ol li a:hover, article ul li a:hover {
      text-decoration: none; }
    section ol li p, section ul li p, article ol li p, article ul li p {
      margin-top: 0px; }
    section ol li small, section ul li small, article ol li small, article ul li small {
      color: #999999;
      font-size: 0.9rem; }

.paginator {
  padding: 0px; }

nav {
  max-width: 800px;
  margin: 0 auto; }
  nav ul {
    list-style: none; }
    nav ul li {
      text-decoration: none; }
      nav ul li a:hover {
        text-decoration: underline; }

@media all and (min-width: 30em) {
  article .img-left {
    float: left;
    margin-right: 30px; }
  article .img-right {
    float: right;
    margin-left: 30px; } }
@media all and (max-width: 30em) {
  header h1 {
    font-size: 3em; } }
/* modules -----------------------------------------------------
*/
/* desert scheme ported from vim to google prettify */
pre.prettyprint {
  display: block;
  background-color: #333333; }

pre .nocode {
  background-color: none;
  color: black; }

pre .str {
  color: #ffa0a0; }

/* string  - pink */
pre .kwd {
  color: #f0e68c;
  font-weight: bold; }

pre .com {
  color: skyblue; }

/* comment - skyblue */
pre .typ {
  color: palegreen; }

/* type    - lightgreen */
pre .lit {
  color: indianred; }

/* literal - darkred */
pre .pun {
  color: white; }

/* punctuation */
pre .pln {
  color: white; }

/* plaintext */
pre .tag {
  color: #f0e68c;
  font-weight: bold; }

/* html/xml tag    - lightyellow */
pre .atn {
  color: #bdb76b;
  font-weight: bold; }

/* attribute name  - khaki */
pre .atv {
  color: #ffa0a0; }

/* attribute value - pink */
pre .dec {
  color: palegreen; }

/* decimal         - lightgreen */
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae; }

/* IE indents via margin-left */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
  list-style-type: none; }

/* Alternate shading for lines */
@media print {
  pre.prettyprint {
    background-color: none; }

  pre .str, code .str {
    color: #006600; }

  pre .kwd, code .kwd {
    color: #006;
    font-weight: bold; }

  pre .com, code .com {
    color: #600;
    font-style: italic; }

  pre .typ, code .typ {
    color: #404;
    font-weight: bold; }

  pre .lit, code .lit {
    color: #004444; }

  pre .pun, code .pun {
    color: #444400; }

  pre .pln, code .pln {
    color: black; }

  pre .tag, code .tag {
    color: #006;
    font-weight: bold; }

  pre .atn, code .atn {
    color: #440044; }

  pre .atv, code .atv {
    color: #006600; } }
/* Pinched from Bootstrap */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

code {
  font-size: 90%;
  color: #c7254e;
  white-space: nowrap;
  background-color: #f9f2f4;
  border-radius: 4px; }

pre {
  display: block;
  padding: 20px;
  margin: 0 0 10px;
  font-size: 0.9rem;
  line-height: 1.3rem;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px; }

pre.prettyprint {
  padding: 10px 20px;
  margin-bottom: 20px; }

pre code {
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0; }
