body {
	font-family: $font-primary;
	color: $text_colour;
	background-color: $background-colour;
	font-size: 1.1rem;
	line-height: 150%;
	padding: 30px 3% 5% 3%;

	// body acts as a container for the susy grid.
	@include container;
}

header, section {
	margin: 0 0 20px 0;
}

#{headings()} {
	color: $header_colour;
	font-size: 1.5rem;
	line-height: 160%;
	// margin: 0;
}

header {
	text-align: center;
	h1  {
		font-size: 3rem;
		line-height: 80%;
		text-transform: uppercase;
		font-weight: bolder;
		color: $link_colour;
		a {
			text-decoration: none;
			&:hover {
				color: darken($header_colour, 20);
				text-decoration: none;
			}
		}
	}
	a {
		margin: 5px 10px 0;
		color: $header_colour;
		text-align: center;
	}
}


a {
	@include single-transition(all, 300ms, ease-out);
	text-decoration: none;
	color: $link_colour ;
	&:hover{
		color: darken($link_colour, 20);
		text-decoration: underline;
	};
}

article {
	p, iframe, pre {
		width: 100%;
	}

	img {
		max-width: 100%;
	}

	h1,h2,h3 {
		margin-bottom: 10px;
	}

	p, iframe {
		margin-bottom: 20px;
	}

	ol, ul {
		li {
			a {	
				font-size: 2rem;
			}
			small {
				color: $tag_colour;
				font-size: 0.9rem;
			}
		}
	}

	.img-left {
		float: left;
		margin-right: 30px;
	}

	.img-right {
		float: right;
		margin-left: 30px;
	}
}


nav {
	ul {
		li {
			@include single-transition(all, 100ms, ease-out);
			@include border-radius(5px);
			background-color: lighten($link-colour, 10);
			padding: 8px;
			margin: 0 5px 0 0;
			cursor: pointer;
			display: inline;
			&:hover {
				background-color: $link_colour;
			}
		}
		a {
			color: $background-colour;
			&:hover {
				color: $background-colour;
			}
		}
	}
}